  .card,
  .card-header {
    border-color: rgb(70, 68, 68);

  }

  .blabla{
    background-color:  rgb(196, 196, 196);
  }

  .card-title{
    font-size: 13px!important;
    margin-left: -10px!important;
  }

  /* Style for the parent div */
  .card-body {
    position: relative;
    height: 80px;
    /* Required for positioning the button */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* To push the h3 and p to the top and button to the bottom */
    align-items: flex-start;
    /* Align h3 and p to the left */
  }

  /* Style for the button */
  [type=menubutton]:not(#drop) {
    /* Position it absolutely within the parent */
    top: 10%;
    width: 45%;
    height: 30%;
    /* Margin from the bottom */
    right: 5px;
    /* Margin from the right */
    opacity: 0%;
  }

  /* Style for the button */
  #dropi {
    position: absolute;
    /* Position it absolutely within the parent */
    top: 10%;
    width: 45%;
    height: 30%;
    /* Margin from the bottom */
    right: 5px;
    /* Margin from the right */
    opacity: 100%;
  }

  .dropdown-custom{
    position: fixed;
    overflow-y: visible;
    z-index: 9999!important; /* Adjust this value as needed */
  }

  .dropdown-item {
    z-index: 9999!important; /* Adjust this value as needed */
    overflow-y: visible;
  }

  .custom-btn-size {
    font-size: 10px;
  }

  hr {
    margin: 0rem;
    border-color: rgb(70, 68, 68);
    opacity: 1;
  }

  .card-text {
    padding-bottom: 0px;
    font-size: 13px;
    display: block;
    text-align: left;
  }

  .card-title {
    padding-bottom: 0px;
    font-size: 15px;
  }

  .swiper-container {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .swiper-wrapper {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .swiper-slide{
    width: fit-content;
   }
